<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
        <a class="navbar-brand" href="/">
            <img src="/imgs/logo-light.svg" width="60" class="logo d-inline-block align-top" alt=""
                loading="lazy">
        </a>
        
        
        <% if(user) { %>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center d-none d-lg-block">
                
                <li class="list-item username mr-4">Wassup <%= user.name.split(' ').slice(0, -1).join(' '); %></li>
                <li class="list-item mr-4"><img src="<%= user.avatarURL %>" width="40px" /></li>
            </ul>
        </div>
        <a href="/logout" class="btn btn-large login-btn">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="btn btn-large login-btn ml-auto">SEE ALL MEMORIES <i class="ml-2 fas fa-long-arrow-alt-right"></i></a>
        <% } %>
        
    </nav>
</header>
