<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body class="container-fluid">
        <%- include('../partials/header') %>
        <main class="container">
            <div class="row d-flex flex-column justify-content-start align-items-center mt-4">
                <h1> Edit <span class="text-dark">Your Memory</span></h1>
                <h4>Upload one of your favorite 2020 memories to share with the world!</h4>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>