<html lang="en">
    <%- include('../partials/head') %>
    <body class="container-fluid">
        <%- include('../partials/header') %>
        <main class="container">
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <h1> Memories <span class="text-dark">Back Then</span></h1>
                <h4>Here are the most favored 2020 memories from people like you. Add to the list!</h4>
                <br />
                <a href="#" class="btn btn-large login-btn" target="_blank">ADD YOUR MEMORY<i class="ml-2 fas fa-plus"></i></a>
            </div>
            <div class="row d-flex align-items-center memories-container">
                <div class="col-md-3 col-12">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Met gala balling</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <p class="card-text">Dec 13, 2020</p>
                            <div class="d-flex">
                                <h6>Akeem Dainty</6>
                                <a href="#" class="card-link">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>