<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body class="container-fluid">
        <%- include('../partials/header') %>
        <main class="container">
            <div class="row d-flex flex-column justify-content-center align-items-left">
                <a href="#" class="btn btn-large login-btn" target="_blank"><i class="fas fa-long-arrow-alt-left mr-4"></i>BACK TO MEMORIES</a>
            </div>
            <div class="row d-flex flex-column justify-content-center align-items-center">
                <h1> Upload <span class="text-dark">A Memory</span></h1>
                <h4>Upload one of your favorite 2020 memories to share with the world!</h4>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>