<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body class="container-fluid">
        <%- include('./partials/header') %>
        <main class="container">
            <div class="row d-flex flex-column justify-content-center text-center align-items-center">
                <h1> Memories <span class="text-dark">Back Then</span></h1>
                <h4>Theres no denying that the year 2020 has been quite the journey… <br>
                    however it has brought about some of our best memories. <br>Below are 
                    just a few from everyday humans like you, you should <br>sign in and add one too :)
                </h4>
            </div>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html>