:root {
    --primary-brand-color: #212121;
    --secondary-brand-color: #FFFAF3;
    --primary-font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
}

html {
    height: 100;
    background-color: var(--primary-brand-color);
}

body {
    background-color: var(--primary-brand-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: var(--primary-font-family), sans-serif;
}

.navbar {
    padding-top: 40px !important;
}

.logo {
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
}

ul li a {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--secondary-brand-color) !important;
}

ul li {
    color: var(--secondary-brand-color);
}

.login-btn {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 0px;
    border: 1px solid var(--secondary-brand-color) !important;
}

.login-btn:hover {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
}

.username {
    text-transform: capitalize;
}

.main {
    margin-top: -100px;
}

main {
    margin-top: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

h1 {
    padding: 10px 0px;
    color: var(--secondary-brand-color);
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 800;
}

h2, h3, h4, p {
    color: var(--secondary-brand-color);
}

.text-dark {
    color: #575654;
}

.memories-container {
    margin-top: 100px;
}

.card {
    background: var(--primary-brand-color);
    border: 1px solid var(--secondary-brand-color);
    border-radius: 0px;
}

.card-title {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-brand-color);
}

.card p {
    color: #575654;
}

.card h6 {
    color: var(--secondary-brand-color);
    margin: 0;
}

.card a {
    margin: 0px 0px 0 50px;
    text-decoration: underline;
    color: var(--secondary-brand-color);
}

form {
    margin-top: 60px;
}

form input, form textarea {
    background-color: var(--secondary-brand-color) !important;
    border-radius: 0px !important;
    color: #000000 !important;
}

form button, form a {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-top: 20px;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    border-radius: 0px !important;
    border: 1px solid var(--secondary-brand-color) !important;
    width: 100%;
}

form button {
    background: var(--secondary-brand-color) !important;
    color: var(--primary-brand-color) !important;
}

.details-container .card {
    height: 100%;
}

.details-container h5 {
    font-size: 2.5rem !important;
}

.details-container h6 {
    font-weight: normal;
    color: #575654;
}

.bold {
    font-weight: 600;
    color: var(--secondary-brand-color);
}

.show-button-row {
    margin-top: 40px;
}

.show-button-row a {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-top: 20px;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    border-radius: 0px !important;
    border: 1px solid var(--secondary-brand-color) !important;
    width: 100%;
} 

.modal {
    position: relative !important;
    max-width: 600px;
    height: 300px;
    background: var(--primary-brand-color);
    border-radius: 0px;
    border: 1px solid var(--secondary-brand-color);
}

.modal button {
    background: var(--secondary-brand-color) !important;
    color: var(--primary-font-family) !important;
    padding: 15px 30px !important;
    margin-top: 20px;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    border-radius: 0px !important;
    border: 1px solid var(--secondary-brand-color) !important;
    width: 100% !important;
} 

.modal a.btn {
    background: var(--primary-brand-color);
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-top: 20px;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    border-radius: 0px !important;
    border: 1px solid var(--secondary-brand-color) !important;
    width: 100% !important;
}

.modal form {
    width: 100% !important;
    margin-top: 0px !important;
}

.modal a.close-modal {
    display: none !important;
}

footer {
    padding: 40px 0px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h4 {
        margin-top: 20px;
        font-size: 1.25rem;
    }

    .card {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 428px) {
    .navbar {
        padding: 0;
    }

    header.container {
        padding: 0px;
    }

    h1 {
        font-size: 3.5rem;
        text-align: left;
    }

    h4 {
        margin-top: 20px;
        font-size: 1.5rem;
        text-align: left;
    }

    .break {
        display: none;
    }

    
}

@media only screen and (max-width: 375px) {
    .navbar {
        padding: 0;
    }

    h1 {
        font-size: 3.2rem;
        text-align: left;
    }

    h4 {
        margin-top: 20px;
        font-size: 1.125rem;
        text-align: left;
    }


    .login-btn {
        width: 250px;
        font-size: 0.875rem;
        padding: 10px 2px !important;
    }

    header.container {
        padding: 0px;
    }

}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 2.375rem;
        text-align: left;
    }

    h4 {
        font-size: 1.125rem;
        text-align: left;
    }

    footer p {
        font-size: 0.875rem;
    }


    .login-btn {
        width: 190px;
        font-size: 0.875rem;
        padding: 10px 2px !important;
    }

    .fas {
        display: none;
    }

    header.container {
        padding: 0px;
    }

    .details-container h5 {
        font-size: 1.25rem !important;
    }

    
}