:root {
    --primary-brand-color: #212121;
    --secondary-brand-color: #FFFAF3;
    --primary-font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
}

html {
    height: 100;
    background-color: var(--primary-brand-color);
}

body {
    background-color: var(--primary-brand-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    font-family: var(--primary-font-family), sans-serif;
}

.navbar {
    padding-top: 40px !important;
}

.logo {
    transition: all .2s ease-in-out;
}

.logo:hover {
    transform: scale(1.5);
}

ul li a {
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-brand-color) !important;
}

ul li {
    color: var(--secondary-brand-color);
}

.login-btn {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 0px;
    border: 1px solid var(--secondary-brand-color) !important;
}

.login-btn:hover {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
}

.username {
    text-transform: capitalize;
}

main {
    margin-top: 40px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

h1 {
    padding: 10px 0px;
    color: var(--secondary-brand-color);
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
}

h2, h3, h4, p {
    color: var(--secondary-brand-color);
}

.text-dark {
    color: #52615F;
}

.memories-container {
    margin-top: 100px;
}

.card {
    background: var(--primary-brand-color);
    border: 1px solid var(--secondary-brand-color);
    border-radius: 0px;
}

.card-title {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--secondary-brand-color);
}

.card p {
    color: #6B6B6B;
}

.card h6 {
    color: var(--secondary-brand-color);
    margin: 0;
}

.card a {
    margin: 0px 0px 0 50px;
    text-decoration: underline;
    color: var(--secondary-brand-color);
}

form {
    margin-top: 60px;
}

form input, form textarea {
    background-color: var(--primary-brand-color) !important;
    border-radius: 0px !important;
}

form button, form a {
    background: var(--primary-brand-color) !important;
    color: var(--secondary-brand-color) !important;
    padding: 15px 30px !important;
    margin-top: 20px;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    border-radius: 0px !important;
    border: 1px solid var(--secondary-brand-color) !important;
    width: 100%;
}

form button {
    background: var(--secondary-brand-color) !important;
    color: var(--primary-brand-color) !important;
}

footer {
    padding: 40px 0px;
}